@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cutive Mono', sans-serif;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #131217;
}

h1 {
  color: white;
  font-size: 5rem;
  position: relative;
}

h1:hover {
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}