body {
  background-color: black;
  font-family: 'Cutive Mono', monospace;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.random-button {
  position: absolute;
  width: 40px;
}

