#game2 {
    font-family: 'Cutive Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

#maze {
    display: grid;
    background-color: black;
    padding: 2px;
    margin: 2px;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    border: 2px solid rgb(0, 255, 0, 0.8);
    border-radius: 8px;
    gap: 2px;
    overflow: hidden;
    z-index: 2;
}

.cell {
    width: 40px;
    height: 40px;
    position: relative;
}

.dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 12;
}

.trail {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 11;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.trail.fade1 {
    background-color: rgba(255, 0, 0, 0.4);
}

.trail.fade2 {
    background-color: rgba(255, 0, 0, 0.25);
}

.trail.fade3 {
    background-color: rgba(255, 0, 0, 0.1);
}

.flash-red {
  animation: flashRed 0.3s;
}

@keyframes flashRed {
  0% {
    background-color: rgb(255, 0, 0);
  }

  100% {
    background-color: black;
  }
}

#game2 .btn {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 1rem;
}

#game2 .btn:hover {
    background-color: black;
    color: rgb(0, 255, 0);
    box-shadow: 0 0 10px black;
}

#maze:focus {
    outline: none;
}

/* Matrix Background */
#matrix2 {
    background: linear-gradient(180deg, rgba(0, 255, 0, 0.1) , black);
    position: fixed;
    pointer-events: none;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stream {
    position: fixed;
    top: -100vh;
    left: 0;
    white-space: nowrap;
    color: rgb(0, 255, 0);
    opacity: 0.8;
    user-select: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#growingCode2 .stream {
    animation-name: grow;
}

@keyframes fall {
    0% {top: -80vh; opacity: 0.8;}
    20% {opacity: 0.8;}
    100% {top: 120vh; opacity: 0;}
}

@keyframes grow {
    0% {top: -80vh; opacity: 0.8;}
    20% {transform: scale(1); opacity: 0.8;}
    100% {top: 120vh; transform: scale(3); opacity: 0;}
}

